* {
    box-sizing: border-box;
}

:root {
    --color-primary: #143c3c;
    --text-color-white: #fff;
    --text-color-black-gray: #575d5e;
    --text-color-black: #152427;
    --text-color-light-gray: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    counter-reset: item;
    font-family: Poppins;
    font-size: 1.6rem;
}

/* common */
.container {
    width: min(100% - 40px, 1140px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-flex;
    min-width: 173px;
    height: 57px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1.5px solid var(--color-primary);
    background-color: var(--color-primary);

    color: var(--text-color-white);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--text-color-white);
    color: var(--color-primary);
}

.heading-level-1 {
    color: var(--color-primary);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.heading-level-2 {
    color: var(--text-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title {
    color: var(--text-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    display: flex;
    column-gap: 21px;
    align-items: center;
}

.title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background-color: var(--text-color-black);
}
/* header */
.header {
    position: sticky;
    top: -15px;
    left: 0;
    padding-top: 28px;
    background-color: #fff;
    z-index: 999;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
    position: relative;
}

.header__main::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    content: "";
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    height: 1px;
}

.header__group {
    display: flex;
    align-items: center;
    column-gap: 69px;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    display: inline-block;
    padding: 15px 19px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    transition: color 0.3s ease;
}

.navbar__item:hover {
    color: var(--text-color-black);
}

.navbar__item--active {
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    position: relative;
}

.navbar__item--active::after {
    position: absolute;
    bottom: -12px;
    left: 20px;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: var(--text-color-black-gray);
}

/* hero */
main {
    margin-top: 60px;
}

.hero__main {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.hero__content {
    width: 35%;
}

.header__heading {
    padding-top: 43px;
    width: 368px;
    --line-clamp: 3;
}

.header__desc {
    margin-top: 20px;
    width: 341px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    animation-duration: 1.5s;
}

.header__cta {
    margin-top: 42px;
    display: flex;
    gap: 36px;
    animation-duration: 1s;
}

.header__images {
    width: 65%;
    height: 543px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__images::before {
    position: absolute;
    top: 122px;
    left: 131px;
    display: inline-block;
    content: "";
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__avastract-1,
.hero__avastract-2,
.hero__vector-1,
.hero__vector-2 {
    position: absolute;
}

.hero__avastract-1 {
    top: -37px;
    left: -152px;
    z-index: 2;
}

.hero__avastract-2 {
    bottom: -100px;
    right: 0;
    z-index: 2;
}

.hero__vector-1 {
    top: -43px;
    left: -113px;
    z-index: 1;
}

.hero__vector-2 {
    bottom: -106px;
    right: 40px;
    transform: scale(-1);
    z-index: 1;
}

.header__img {
    width: 27.27%;
    height: 86%;
    border-radius: 110px;
    object-fit: cover;
}

.header__img:nth-of-type(2) {
    margin-top: 77px;
}

/* social */
.social {
    margin-top: 130px;
}

.social__images {
    padding: 5px;
    display: flex;
    min-height: 201px;
    border-radius: 100.5px;
    background-color: #e2eddf;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 54px;
}

.social__img {
    width: 167px;
    height: 38px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social__img:hover {
    transform: scale(1.2);
}

/* service */
.service {
    margin-top: 106px;
}

.service__heading {
    margin-top: 12px;
    width: 520px;
    height: 104px;
}

.service__heading::after {
    position: relative;
    bottom: 11px;
    left: 10px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background-color: var(--text-color-black);
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__control {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.service__previous {
    transform: scaleX(-1);
}

:is(.service__previous, .service__next) :is(circle, path) {
    cursor: pointer;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

:is(.service__previous, .service__next):hover circle {
    fill: #e2eddf;
}

:is(.service__previous, .service__next):hover path {
    stroke: #143c3c;
}

.service-body {
    margin-top: 76px;
}

.service__list {
    position: relative;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 370px;
    grid-template-rows: auto;
    align-items: center;
}

.service__item {
    position: relative;
    z-index: 1;
    width: 370px;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.service__item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service__content {
    padding: 24px 18px;
}

.service__subtitle {
    color: var(--text-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__desc {
    --line-clamp: 3;
    margin-top: 18px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* about us */
.about-us {
    margin-top: 149px;
}

.about-us__main {
    display: flex;
    justify-content: space-between;
}

.about-us__images {
    position: relative;
    width: 52%;
    display: flex;
    justify-content: space-between;
}

.about-us__vector {
    position: absolute;
    top: 25px;
    left: 41px;
    transform: rotate(12.5deg);
}

.about-us__avastract {
    position: absolute;
    top: -22px;
    left: 35px;
}

.about-us__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-us__img:first-child {
    margin-top: 77px;
}

.about-us-trend {
    padding: 19px 23px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-us-trend__title {
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about-us-trend__desc {
    margin-top: 6px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
}

.about-us-trend__range::before {
    position: absolute;
    top: -18px;
    left: 0;
    content: "40%";
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-us-trend__range {
    position: relative;
    margin-top: 27px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-us-trend__range::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 40%;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-us-trend__loading {
    margin-top: 3px;
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: end;
}

.about-us-trend__is-active {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 3px #eaeaea solid;
    background-color: var(--color-primary);
}

.about-us-trend__team {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.about-us-trend__team span {
    color: var(--text-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-us-trend__images {
    display: flex;
    justify-content: flex-end;
    margin-right: 6px;
}

.about-us-trend__img {
    margin-right: -6px;
}

.about-us-trend__img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid #fff;
}

.about-us__content {
    width: 43%;
}

.about-us__heading {
    margin-top: 20px;
}

.about-us__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.about-us__statistical {
    position: relative;
    margin-top: 38px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us__statistical::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #83a17d;
}

.about-us__statistical strong {
    color: var(--text-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about-us__sub {
    width: 364px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72; /* 171.429% */
}

/* process */
.process {
    margin-top: 115px;
}

.process__heading {
    width: 477px;
}

.process__heading::after {
    position: relative;
    bottom: 11px;
    left: 10px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background-color: var(--text-color-black);
}

.process__body {
    margin-top: 81px;
}

.process__item {
    counter-increment: item;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 185px;
}

.process__item {
    position: relative;
}

.process__item:not(:has(.process__subtitle--link))::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    background-color: #eaeaea;
}

.process__images {
    position: absolute;
    bottom: 0;
    right: 92px;
}

.process__item:has(.process__subtitle--link) {
    border-radius: 33px;
    background: var(--Scondery-color-light-green, #e2eddf);
}

.process__item::before {
    display: inline-block;
    width: 110px;
    content: counter(item, decimal-leading-zero) ".";
    color: var(--color-primary);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.process__subtitle {
    width: 180px;
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process__subtitle--link::after {
    margin-top: 22px;
    text-decoration: underline;
    width: 100px;
    height: 15px;
    display: inline-block;
    content: "Learn More";
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
}

.process__desc {
    width: 572px;
    color: var(--text-color-light-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.54; /* 155.556% */
}

/* features */
.features {
    margin-top: 148px;
    padding: 116px 0 63px 0;
    background: var(--color-primary);
}

.features__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features__heading {
    width: 457px;
    color: #e7f9f9;
}

.features__heading::after {
    position: relative;
    bottom: 11px;
    left: 10px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: #83a17d;
}

.features__content {
    width: 590px;
}

.features__desc {
    color: #6a8383;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.features__link {
    margin-top: 13px;
}

.features__link a {
    margin-right: 26px;
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.features__body {
    margin-top: 72px;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    border-radius: 22px;
}

.features__video {
    border-radius: 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* service features */
.service-features {
    margin-top: 140px;
}

.service-features__heading {
    width: 520px;
    margin: 0 auto;
    text-align: center;
}

.service-features__desc {
    width: 547px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color-light-gray);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.service-features__body {
    margin-top: 103px;
}

.service-features__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-features__item {
    position: relative;
    top: 0;
    cursor: pointer;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border ease 0.3s, box-shadow ease 0.3s, top ease 0.3s;
}

.service-features__item:hover {
    border: 1.5px solid #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    top: -59px;
}

.service-features__subtitle {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service-features__desc--body {
    margin-top: 9px;
    width: 286px;
    height: 118px;
    color: var(--text-color-light-gray);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* blog */
.blog {
    margin-top: 184px;
}

.blog__row {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    width: 580px;
}

.blog__heading::after {
    position: relative;
    bottom: 11px;
    left: 10px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background-color: var(--text-color-black);
}

.blog__desc {
    width: 409px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.blog__body {
    margin-top: 90px;
}

.blog__list {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    cursor: pointer;
    width: 360px;
    border-radius: 40px;
    transition: background ease 0.3s, box-shadow ease 0.3s;
}

.blog__img {
    width: 360px;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
    object-fit: cover;
}

.blog__content {
    padding: 26px 30px 12px;
}

.blog__genre {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: #e2eddf;
    transition: color ease 0.3s, background ease 0.3s;
}

.blog__subtitle {
    position: relative;
    --line-clamp: 3;
    margin-top: 13px;
    padding-bottom: 38px;
    color: var(--color-primary);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.blog__subtitle::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
    content: "";
}

.blog__date {
    margin-top: 16px;
    text-align: end;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
}

.blog__item:hover {
    background: #fff;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog__item:hover .blog__genre {
    background: var(--color-primary);
    color: #fff;
}

/* footer */
.footer {
    margin-top: 102px;
    background: var(--color-primary);
    padding-top: 72px;
    padding-bottom: 50px;
}

.footer__main {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}

.footer__main::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer__heading {
    color: #fff;
}

.footer__email {
    position: relative;
    padding: 10px 0;
    margin-top: 25px;
    width: 354px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__email::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #6a8383;
}

.footer__input-email {
    padding-bottom: 20px;
    width: 80%;
    height: 52px;
    outline: none;
    border: none;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.footer__input-email::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.footer__btn path {
    transition: stroke ease 0.3s;
}

.footer__btn:hover path {
    stroke: var(--text-color-black);
}

.footer__group-social {
    margin-top: 47px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__group-social svg:hover circle:first-child {
    fill: #a75325;
    stroke: none;
}

.footer-list {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.footer-item__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-item__item {
    color: #6a8383;
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2; /* 225% */
}

.footer-item__item--title {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}
